In [1]:
# Python comment line

In [3]:
num1 = input("Please enter the first number: ")
num2 = input("Please enter the second number: ")
print (num1, type(num1))
print (num2, type(num2))
total = num1 + num2
print ("So the sum of", num1, "+", num2, "is", total)

Please enter the first number:  100
Please enter the second number:  400

100 <class 'str'>
400 <class 'str'>
So the sum of 100 + 400 is 100400

In [5]:
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
print (num1, type(num1))
print (num2, type(num2))
total = num1 + num2
print ("So the sum of", num1, "+", num2, "is", total)

Please enter the first number:  100
Please enter the second number:  400

100 <class 'int'>
400 <class 'int'>
So the sum of 100 + 400 is 500

In [13]:
print ("So the sum of", num1, "+", num2, "is", total)
print ("So the sum of {} + {} is {}".format(num1, num2, total))    # placeholder
print ("So the sum of {0} + {1} is {2}".format(num1, num2, total))    # indexed placeholder
print ("So the sum of {fnum} + {snum} is {result}".format(fnum = num1, snum = num2, result = total))    # labeled placeholder
print ("So the sum of {fnum} + {snum} is {result}".format(result = total, snum = num2, fnum = num1))    # labeled placeholder
print ("So the sum of %d + %d is %d"%(num1, num2, total))
print (f"So the sum of {num1} + {num2} is {total}")

So the sum of 100 + 400 is 500
So the sum of 100 + 400 is 500
So the sum of 100 + 400 is 500
So the sum of 100 + 400 is 500
So the sum of 100 + 400 is 500
So the sum of 100 + 400 is 500
So the sum of 100 + 400 is 500

In [23]:
# conditional statements
# find the maximum number out of three user given numbers
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
num3 = int(input("Please enter the third number: "))
if (num1 > num2):
    if (num1 > num3):
        print ("So the first number is the maximum number...")
        print ("So the maximum number is", num1)
    else:
        print ("So the third number is the maximum number...")
        print ("So the maximum number is", num3)
elif (num2 > num3):
    print ("So the second number is the maximum number...")
    print ("So the maximum number is", num2)
else:
    print ("So the third number is the maximum number...")
    print ("So the maximum number is", num3)
    
print ("End of the program...")

Please enter the first number:  100
Please enter the second number:  300
Please enter the third number:  200

So the second number is the maximum number...
So the maximum number is 300
End of the program...

In [1]:
# conditional statements
# find the maximum number out of three user given numbers
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
num3 = int(input("Please enter the third number: "))
if (num1 > num2 and num1 > num3):
    print ("So the first number is the maximum number...")
    print ("So the maximum number is", num1)
elif (num2 > num3):
    print ("So the second number is the maximum number...")
    print ("So the maximum number is", num2)
else:
    print ("So the third number is the maximum number...")
    print ("So the maximum number is", num3)
    
print ("End of the program...")

Please enter the first number:  100
Please enter the second number:  200
Please enter the third number:  300

So the third number is the maximum number...
So the maximum number is 300
End of the program...

In [2]:
# Python for loop
for i in range(0, 10):
    print ("Looping for i =", i)
else:
    print ("Else block is executing...")
    
print ("End of the program...")

Looping for i = 0
Looping for i = 1
Looping for i = 2
Looping for i = 3
Looping for i = 4
Looping for i = 5
Looping for i = 6
Looping for i = 7
Looping for i = 8
Looping for i = 9
Else block is executing...
End of the program...

In [3]:
# Python for loop
for i in range(0, 10, 2):
    print ("Looping for i =", i)
else:
    print ("Else block is executing...")
    
print ("End of the program...")

Looping for i = 0
Looping for i = 2
Looping for i = 4
Looping for i = 6
Looping for i = 8
Else block is executing...
End of the program...

In [4]:
# Python for loop
for i in range(0, 10, 3):
    print ("Looping for i =", i)
else:
    print ("Else block is executing...")
    
print ("End of the program...")

Looping for i = 0
Looping for i = 3
Looping for i = 6
Looping for i = 9
Else block is executing...
End of the program...

In [5]:
# Python while loop
i = 1
while (i <= 10):
    print ("Looping for i =", i)
    i += 1
else:
    print ("Else block is executing...")
    
print ("End of the program...")

Looping for i = 1
Looping for i = 2
Looping for i = 3
Looping for i = 4
Looping for i = 5
Looping for i = 6
Looping for i = 7
Looping for i = 8
Looping for i = 9
Looping for i = 10
Else block is executing...
End of the program...

In [6]:
# Python while loop
i = 1
while (i <= 10):
    print ("Looping for i =", i)
    i += 2
else:
    print ("Else block is executing...")
    
print ("End of the program...")

Looping for i = 1
Looping for i = 3
Looping for i = 5
Looping for i = 7
Looping for i = 9
Else block is executing...
End of the program...

In [10]:
print ("Visit Dictor...")    # 1 time
medicount = 0
for day in range(1, 6):
    print ("Good Morning...")    # 5 times
    for medi in range(1, 4):
        print (f"Day Number: {day} and Medicine Number: {medi}...")    # 15 times
        medicount = medicount + 1
    print ("Good Night...")      # 5 times
    print ("------------------------------------------------------")   # 5 times
print ("So total number of medicines consumed is", medicount)
print ("Thanks to Doctor...")    # 1 time

Visit Dictor...
Good Morning...
Day Number: 1 and Medicine Number: 1...
Day Number: 1 and Medicine Number: 2...
Day Number: 1 and Medicine Number: 3...
Good Night...
------------------------------------------------------
Good Morning...
Day Number: 2 and Medicine Number: 1...
Day Number: 2 and Medicine Number: 2...
Day Number: 2 and Medicine Number: 3...
Good Night...
------------------------------------------------------
Good Morning...
Day Number: 3 and Medicine Number: 1...
Day Number: 3 and Medicine Number: 2...
Day Number: 3 and Medicine Number: 3...
Good Night...
------------------------------------------------------
Good Morning...
Day Number: 4 and Medicine Number: 1...
Day Number: 4 and Medicine Number: 2...
Day Number: 4 and Medicine Number: 3...
Good Night...
------------------------------------------------------
Good Morning...
Day Number: 5 and Medicine Number: 1...
Day Number: 5 and Medicine Number: 2...
Day Number: 5 and Medicine Number: 3...
Good Night...
------------------------------------------------------
So total number of medicines consumed is 15
Thanks to Doctor...

In [2]:
my_list = [1, 2, 3, 4, 5]
for i in my_list:
    if i == 3:
        print ("Going again with i =", i)
        continue
    print(i)

1
2
Going again with i = 3
4
5

### User Defined Functions

In [4]:
def funct1():
    print ("Hello " * 3)
    
funct1()
funct1()
funct1()

Hello Hello Hello
Hello Hello Hello
Hello Hello Hello

In [5]:
def funct2(msg, times):
    print (msg * times)
    
funct2("Welcome ", 5)
funct2("Hello ", 3)
funct2("Bye !!! ", 10)

Welcome Welcome Welcome Welcome Welcome
Hello Hello Hello
Bye !!! Bye !!! Bye !!! Bye !!! Bye !!! Bye !!! Bye !!! Bye !!! Bye !!! Bye !!!

In [7]:
def funct3(msg, times):
    return msg * times
    
result = funct3("Welcome ", 5)
print (result)
result = funct3("Hello ", 3)
print (result)
print (funct3("Bye !!! ", 10))

Welcome Welcome Welcome Welcome Welcome
Hello Hello Hello
Bye !!! Bye !!! Bye !!! Bye !!! Bye !!! Bye !!! Bye !!! Bye !!! Bye !!! Bye !!!

In [13]:
# python inbuilt collection classes
list1 = [100, 23.45, True, "Banana", True, "Banana"]    # mutable
print (list1, len(list1), type(list1), id(list1))
tuple1 = (100, 23.45, True, "Banana", True, "Banana")    # immutable
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
set1 = {100, 23.45, True, "Banana", True, "Banana"}    # mutable
print (set1, len(set1), type(set1), id(set1))
frozenset1 = frozenset([100, 23.45, True, "Banana", True, "Banana"])    # immutable
print (frozenset1, len(frozenset1), type(frozenset1), id(frozenset1))
dict1 = {"mango":100, "banana":200, "orange":50, "guava":75}    # mutable
print (dict1, len(dict1), type(dict1), id(dict1))

[100, 23.45, True, 'Banana', True, 'Banana'] 6 <class 'list'> 1243984910912
(100, 23.45, True, 'Banana', True, 'Banana') 6 <class 'tuple'> 1243991044832
{True, 'Banana', 100, 23.45} 4 <class 'set'> 1243991998976
frozenset({True, 'Banana', 100, 23.45}) 4 <class 'frozenset'> 1243991998752
{'mango': 100, 'banana': 200, 'orange': 50, 'guava': 75} 4 <class 'dict'> 1243985319360

In [15]:
def funct4(num1, num2):
    total = num1 + num2
    difference = num1 - num2
    product = num1 * num2
    quotient = num1 / num2
    return total, difference, product, quotient

tt, dd, pp, qq = funct4(100, 40)
print (f"Total = {tt}, Difference = {dd}, Product = {pp} and Quotient = {qq}...")
result = funct4(100, 40)
print (result, len(result), type(result), id(result))
print (f"Total = {result[0]}, Difference = {result[1]}, Product = {result[2]} and Quotient = {result[3]}...")

Total = 140, Difference = 60, Product = 4000 and Quotient = 2.5...
(140, 60, 4000, 2.5) 4 <class 'tuple'> 1243980979072
Total = 140, Difference = 60, Product = 4000 and Quotient = 2.5...

In [27]:
# functions with default arguments
def funct5(par1 = 111, par2 = 222, par3 = 333):    # positional parameters
    print (f"Par1 = {par1}, Par2 = {par2} and Par3 = {par3}...")

funct5(100, 200, 300)    # positional arguments
funct5(100, 200)
funct5(100)
funct5()
funct5(par1 = 100, par3 = 300)
funct5(par3 = 300, par1 = 100)
funct5(par2 = 200)

Par1 = 100, Par2 = 200 and Par3 = 300...
Par1 = 100, Par2 = 200 and Par3 = 333...
Par1 = 100, Par2 = 222 and Par3 = 333...
Par1 = 111, Par2 = 222 and Par3 = 333...
Par1 = 100, Par2 = 222 and Par3 = 300...
Par1 = 100, Par2 = 222 and Par3 = 300...
Par1 = 111, Par2 = 200 and Par3 = 333...

In [28]:
# function with variable number of arguemnts
def funct6(*arg):    # *arg is a variable forcefully defined as a tuple type
    print (arg, len(arg), type(arg), id(arg))
    
funct6(100, 200)
funct6(100, 200, 400)
funct6(100, 200, 400, 600, 900)

(100, 200) 2 <class 'tuple'> 1243991386240
(100, 200, 400) 3 <class 'tuple'> 1243985972480
(100, 200, 400, 600, 900) 5 <class 'tuple'> 1243991021424

In [30]:
def funct7(**kwarg):    # **kwarg is a variable forefully defined as a dictionary
    print (kwarg, len(kwarg), type(kwarg), id(kwarg))

funct7(name="Amit", job="Developer")
funct7(name="Amit", job="Developer", loc="USA", gender="male")  
funct7(name="Amit", job="Developer", loc="USA", gender="male", email="amit@abc.com")

{'name': 'Amit', 'job': 'Developer'} 2 <class 'dict'> 1243985732480
{'name': 'Amit', 'job': 'Developer', 'loc': 'USA', 'gender': 'male'} 4 <class 'dict'> 1243985731840
{'name': 'Amit', 'job': 'Developer', 'loc': 'USA', 'gender': 'male', 'email': 'amit@abc.com'} 5 <class 'dict'> 1243985735040

In [46]:
def funct8(*arg, **kwarg):
    print (arg, len(arg), type(arg), id(arg))
    print (kwarg, len(kwarg), type(kwarg), id(kwarg))
    
funct8('Amit', 'Developer', loc='USA', gender='male', email='amit@abc.com')
print ()
funct8('Amit', 'Developer')
print ()
funct8(loc='USA', gender='male', email='amit@abc.com')
print (type(funct8))

('Amit', 'Developer') 2 <class 'tuple'> 1243991584320
{'loc': 'USA', 'gender': 'male', 'email': 'amit@abc.com'} 3 <class 'dict'> 1243994565504

('Amit', 'Developer') 2 <class 'tuple'> 1243991491520
{} 0 <class 'dict'> 1243986311680

() 0 <class 'tuple'> 1243893137472
{'loc': 'USA', 'gender': 'male', 'email': 'amit@abc.com'} 3 <class 'dict'> 1243986414656
<class 'function'>

In [38]:
# non-recursive factorial calculating function
def factorial_nr(num):
    if (n == 0 or n == 1): return 1
    fact = 1
    for i in range(1, num + 1):
        fact = fact * i
        print ("Executing for i =", i)
    return fact

n = 5
result = factorial_nr(n)
print (f"For n = {n} the calculated factorial is {result}...")

Executing for i = 1
Executing for i = 2
Executing for i = 3
Executing for i = 4
Executing for i = 5
For n = 5 the calculated factorial is 120...

In [40]:
# non-recursive factorial calculating function
def factorial_nr(num):
    if (n == 0 or n == 1): return 1
    fact = 1
    for i in range(2, num + 1):
        fact = fact * i
        print ("Executing for i =", i)
    return fact

n = 5
result = factorial_nr(n)
print (f"For n = {n} the calculated factorial is {result}...")

Executing for i = 2
Executing for i = 3
Executing for i = 4
Executing for i = 5
For n = 5 the calculated factorial is 120...

In [41]:
# non-recursive factorial calculating function
def factorial_nr(num):
    if (n == 0 or n == 1): return 1
    fact = num
    for i in range(2, num):
        fact = fact * i
        print ("Executing for i =", i)
    return fact

n = 5
result = factorial_nr(n)
print (f"For n = {n} the calculated factorial is {result}...")

Executing for i = 2
Executing for i = 3
Executing for i = 4
For n = 5 the calculated factorial is 120...

In [43]:
# recursive factorial calculating function: n! = n * (n -1)!
def factorial_r(num):
    if (num == 0 or num == 1): return 1    # base case: for certain inputs outputs are known to us
    return num * factorial_r(num - 1)  # recursive case: the function will call itself

n = 5
result = factorial_r(n)
print (f"For n = {n} the calculated factorial is {result}...")

For n = 5 the calculated factorial is 120...

In [ ]:
5! = 5 * 4!
         4 * 3!
             3 * 2!
                 2 * 1!

### Lambda Function

In [45]:
my_square = lambda num: num * num
print (my_square(5))
print (my_square(6))
print (my_square(7))
print (type(my_square))

25
36
49
<class 'function'>

In [47]:
my_addition = lambda num1, num2: num1 + num2
print (my_addition(500, 700))
print (my_addition(600, 900))
print (my_addition(700, 250))
print (type(my_addition))

1200
1500
950
<class 'function'>

In [50]:
num1 = 100
result = "Even Number" if (num1 % 2 == 0) else "Odd Number"    # ternary operator
print (result)
num1 = 101
result = "Even Number" if (num1 % 2 == 0) else "Odd Number"
print (result)

Even Number
Odd Number

In [51]:
# lambda function with recursion
myfact = lambda num: 1 if (num == 0 or num == 1) else num * myfact(num - 1)
print (myfact(5))
print (myfact(6))
print (myfact(7))

120
720
5040